.about-front {
    background: url(https://cdn.pixabay.com/photo/2015/03/26/10/07/restaurant-690975_960_720.jpg) no-repeat 80%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 300px;
    width: 100%;
}
.about-us{
    height: 300px;
    background-color: rgba(0, 0, 0, 0.397);
}
.about-us h1{
    text-align: center;
    padding-top: 100px;
    color: white;
}
.about-us p{
    text-align: center;
    color: white;


}
.material-icons{
    font-size: 13px;
}


@media(max-width:1000px){.Contacts {
    position:relative;
    display: flex;
    height:50px;
    list-style:none;
    width:100%;
    background-color: #af160b94;
}

}