.Toolbar {
    height:60px;
    margin-top: 40px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-sizing:border-box;
    z-index:90

}
.toolbar nav{
    height:100%
}
.Logo{
    margin-top:45px;
    height:80%;
 
}
@media (max-width:499px){
    .DesktopOnly{
        display: none;
    }
}