.NavigatiomItem {
    box-sizing: border-box;
    display: block;
 
}
.NavigationItem a {
    text-decoration: none;
    border-bottom:4px solid transparent;
    color: black;
    box-sizing:border-box;
    display: block;

}
.NavigationItem a:hover,
.NavigationItem a.active,
.NavigationItem a.active{
    color:rgb(89, 19, 107);
}
@media (min-width: 500px){
    .NavigatiomItem {
        display: flex;
        align-items:center ;
    }
    .NavigationItem a {
        color: rgba(0, 0, 0, 0.548);
        width:200px;
        border-bottom:4px solid transparent;
    }
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active{
        color:rgb(89, 19, 107);
        text-decoration: none;
    }
}