.footer{
  background-image: url('../../assets/CenterFoto/pexels-canva-studio-3153198.jpg');
  background-size: cover ;
  background-repeat: no-repeat;
  width:100%;
  height: 600px;
}
.footer-cover{
  background-color:rgba(0, 0, 0, 0.589) ;
  height: 600px;


  
  }

.footer-item{
  color:white;
  display: inline-block;
  width: 33%;
  text-align: center;
  margin: 10px 0;

}


.footer-text{
  text-align: justify;
  margin-left: 30%;
  line-height: 33px;

}

.footer-bottom{
  color: aliceblue;
  text-align: center;
  line-height: 20px;
  margin-top: 60px;

}
.footer-bottom-social{
  float:right;
  color: aliceblue;
  margin-right: 30px;
  padding: 20px;
  margin-top: 60px;

}
