
.our-services{
  margin: 0 100px;
}
.our-services h1{
  margin: 20px auto;
  text-align: center;
}
.our-services p{
  margin: 20px  ;
  text-align: center;
}
.up-benefit{
 
  width: 80%;
  height:450px;
  padding: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.781);
  font-weight: 500;
  border-radius: 4px;
  margin:-25px auto 20px auto;
  box-shadow:  0px 30px 10px rgba(63, 63, 63, 0.123);
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}

.benefit-item{
  width: 30%;
  margin: 10px;
  height: 450px;
  display: inline-block;
  border: 2px rgba(81, 81, 83, 0.13) solid;
  border-radius: 6px;
}



.benefit-item-title{
  border-radius: 8px;
  font-weight: 200;
  font-size: 12px;
  padding: 3px 15px;
  margin-left:40px;
  color: rgb(12, 8, 250);
  width: fit-content;
  background-color: rgba(91, 166, 228, 0.212);
}

.benefit-item p{
  margin: 10px;

}

.benefit-item-benefit{
  width: 30%;
  margin: 10px;
  height: 500px;
  display: inline-block;
  border: 2px rgba(81, 81, 83, 0.13) solid;
  border-radius: 6px;
}


.benefit-item-image{
  background-image: url('https://cdn.pixabay.com/photo/2021/02/18/12/03/people-6027028_960_720.jpg');
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}
.benefit-item-image--1{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393_960_720.jpg');
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}
.benefit-item-image--2{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393_960_720.jpg');
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}

.benefit-item-image--3{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393_960_720.jpg');
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}

.benefit-item-image--4{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393_960_720.jpg');
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}

.benefit-item-image--5{
  background-image: url(https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393_960_720.jpg);
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}






.benefit-item-image{
  background-image: url('https://cdn.pixabay.com/photo/2015/08/13/19/39/children-887393_960_720.jpg');
  background-size: cover;
  border-radius: 6px 0 0;
  width: 100%;
  height: 300px;

}


.up{
 
  width: fit-content;
  padding: 10px;
  color: red;
  border-radius: 10px;
  margin:-25px auto 20px auto;
  box-shadow:  0px 30px 10px rgba(63, 63, 63, 0.123);
  background-color: rgb(255, 255, 255);
}

.up{
 
  width: fit-content;
  padding: 10px;
  color: red;
  border-radius: 10px;
  margin:-25px auto 20px auto;
  box-shadow:  0px 30px 10px rgba(63, 63, 63, 0.123);
  background-color: rgb(255, 255, 255);
}
.up-benefit{
 
  width: 80%;
  height:300px;
  padding: 10px;
  color: rgb(0, 0, 0);
  border-radius: 4px;
  margin:-25px auto 20px auto;
  box-shadow:  0px 30px 10px rgba(63, 63, 63, 0.123);
  background-color: rgb(255, 255, 255);
  margin-bottom: 50px;
}
.bottom{
  width: 100%;
  background-color: rgba(32, 32, 248, 0.747);
  margin-top:25px;
  text-align: center;
  color: white;
  font-weight: 800;
  height: 50px;
  padding-top:10px;
  border-radius: 0  0 6px 6px;

}
.bottom:hover{
  transition:ease-in;
}