.slideImg-why{
    width:100%;
    height: auto;
}

.Our-team-item-top{
  border: 1px rgba(4, 0, 255, 0.171) solid;
  width:70%;
  text-align: justify;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;
  margin:20PX;
  font-weight: 600;
  padding: 20px;

}
.Our-team-item-right{
    float: right;
    border: 1px rgba(4, 0, 255, 0.171) solid;
    width:45%;
    text-align: justify;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    margin:20px 0 20px 3%;
    padding: 20px;
    margin-right:3%;
  
  }

  .Our-team-item-left{
    float:left;
    border: 1px rgba(4, 0, 255, 0.171) solid;
    width:45%;
    text-align: justify;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin:20px 0 20px 3%;
    padding: 20px;
    margin-left:3%;

  
  }

  .Our-team-item-bottom{
    border: 1px rgba(4, 0, 255, 0.171) solid;
    width:70%;
    text-align: justify;
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin:20PX;
    padding: 20px;
  }
.Our-team{
  text-align: center;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;

  
}
.button-why{
  float: left;
  width:100px;
  margin-top:20px;
  text-align: center;
  font-size: 18px;
  color:white;
  border: none;
  border-radius: 200px;
  background-color:rgba(6, 101, 179, 0.993);
}
.image-why{
  margin:10px;
  width:200px;
  height:200px
}

.title-why{
  width: 130px;
  text-align: center;
  color: white;
  font-weight: 800;
  height:30px;
  margin-top: -35px;
  background-color: #bd564f;


}
.image-why-holder{
  text-align: center;
}